<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Battle Calculator</title>

<body>
    <h1>Dynafighter Battle Calculator</h1>

    <div class="container">
        
        <figure>
            <a href="/battle-calculator/Kicker">
            <img src="images/menupictures/Kicker Side Air Kick.png" alt="Kicker Side Air Kick" width="277" height="260">
            <figcaption>Kicker</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/battle-calculator/Pop">
            <img src="images/menupictures/Pop Dashing Kick.png" alt="Pop Dashing Kick" width="300" height="277">
            <figcaption>Pop</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/battle-calculator/Augur">
            <img src="images/menupictures/Augur Flame Pulse.png" alt="Augur Flame Pulse" width="300" height="277">
            <figcaption>Augur</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/battle-calculator/Edge">
            <img src="images/menupictures/Edge Vicious Claws.png" alt="Edge Vicious Claws" width="300" height="277">
            <figcaption>Edge</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/battle-calculator/Sapphire">
            <img src="images/menupictures/Sapphire Sapphire Bump.png" alt="Sapphire Sapphire Bump" width="300" height="277">
            <figcaption>Sapphire</figcaption>
            </a>
        </figure>
        <figure>
            <a href="/battle-calculator/S.Might">
            <img src="images/menupictures/S.Might Pearly Pierce.png" alt="S.Might Pearly Pierce" width="320" height="300">
            <figcaption>S.Might</figcaption>
            </a>
        </figure>
    
    </div>
    

</body>

<style>
    body {
        background-color: #333333; 
        color: orange; 
    }
    .container {
        display: flex;
        flex-wrap: wrap; 
        gap: 10px; 
        justify-content: center; 
    }

    figure {
        text-align: center; 
    }

    img {
        max-width: 100%; 
        height: auto;
    }

    h1 {
            text-align: center;
        }
</style>

</head>
